@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="card" style="width: 18rem;">
        <img src="/shots.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Sample Product</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a href="/Payment/checkout/ba0e4482-4bd1-4f60-b069-c464ed39f159" class="btn btn-primary">Buy Now</a>
        </div>
    </div>
</div>
